<?xml version="1.0"?>
<model>
    <name>my_ground_plane</name>
    <version>1.0</version>
    <sdf version="1.4">model.sdf</sdf>
    <author>
        <name>Changye Ma</name>
        <email>c7ma@uwaterloo.ca</email>
    </author>
    <description>The ground pattern for the warehouse</description>
</model>
