<?xml version="1.0"?>

<model>
  <name>totes</name>
  <version>1.0</version>
  <sdf version="1.7">totes.sdf</sdf>

  <author>
    <name>Changye Ma</name>
    <email>c7ma@uwaterloo.ca</email>
  </author>


  <maintainer email="c7ma@uwaterloo.ca">Changye Ma</maintainer>


  <description>
    Desiged differential drive AGV for Warehouse application under MVS lab
  </description>
</model>
